{{#*inline "body"}}
<main id="gh-main" class="gh-main gh-outer">
    <div class="gh-inner">
        {{#is "paged"}}
            {{#foreach posts limit="1"}}
                <article class="gh-latest gh-card {{post_class}}">
                    <a class="gh-card-link" href="/{{slug}}">
                        <header class="gh-card-header">
                            <div class="gh-article-meta">
                                <span class="gh-card-date">Latest — <time datetime="{{date published_at format="YYYY-MM-DD"}}">{{date published_at format="DD MMM YYYY"}}</time></span>
                            </div>
                            <h2 class="gh-article-title gh-card-title">{{title}}</h2>
                        </header>

                        <p class="gh-article-excerpt">{{excerpt}}</p>

                        <footer class="gh-card-meta">
                            <span class="gh-card-duration">{{reading_time}}</span>
                            {{#if @root.site.comments_enabled}}
                                {{comment_count class="gh-card-comments"}}
                            {{/if}}
                            {{#match visibility "!=" "public"}}
                                {{> partials/icons/star}}
                            {{/match}}
                        </footer>
                    </a>
                </article>
            {{/foreach}}
        {{/is}}

        <div class="gh-wrapper">
            <section class="gh-section">
                <h2 class="gh-section-title">More issues</h2>

                <div class="gh-feed">
                    {{#is "paged"}}
                        {{#foreach posts from="2"}}
                            {{> partials/loop}}
                        {{/foreach}}
                    {{else}}
                        {{#foreach posts}}
                            {{> partials/loop}}
                        {{/foreach}}
                    {{/is}}
                </div>

                {{#match (length posts) "=" 1}}
                    Additional issues will be published soon.
                {{/match}}

                <button class="gh-loadmore gh-btn">Load more issues</button>
            </section>

            <aside class="gh-sidebar">
                <section class="gh-section">
                    <h2 class="gh-section-title">About</h2>

                    <div class="gh-about">
                        {{#if @root.site.icon}}
                            <img class="gh-about-icon" src="{{@root.site.icon}}" alt="{{@root.site.title}}">
                        {{/if}}

                        <section class="gh-about-wrapper">
                            <h3 class="gh-about-title">{{@root.site.title}}</h3>

                            {{#if @root.site.description}}
                                <p class="gh-about-description">{{@root.site.description}}</p>
                            {{/if}}
                        </section>
                    </div>

                    {{#if @root.site.members_enabled}}
                        {{#if @root.member.paid}}
                            <div class="gh-signup">
                                {{#if @root.member}}
                                    <p class="gh-signup-description">Sign up now to get access to the library of members-only issues.</p>

                                    <a class="gh-subscribe-input" href="/#/portal/signup" data-portal="signup">
                                        <div class="gh-subscribe-input-text">
                                            {{> partials/icons/email}}
                                            jamie@example.com
                                        </div>
                                        <div class="gh-subscribe-input-btn">Subscribe</div>
                                    </a>
                                {{else}}
                                    {{#if @root.setting.paid_members_enabled}}
                                        <p class="gh-signup-description">Upgrade to a paid account to get full access.</p>
                                        <a class="gh-signup-btn gh-btn gh-primary-btn" href="/#/portal/account/plans" data-portal="account/plans">Upgrade now</a>
                                    {{/if}}
                                {{/if}}
                            </div>
                        {{/if}}
                    {{/if}}
                </section>

                {{#get "posts" filter="featured:true" limit="all" as |featured|}}
                    {{#if featured}}
                        <section class="gh-section">
                            <h3 class="gh-section-title">Featured</h3>

                            <div class="gh-featured gh-feed">
                                {{#foreach featured}}
                                    {{> partials/loop}}
                                {{/foreach}}
                            </div>
                        </section>
                    {{/if}}
                {{/get}}

                {{#get "tags" include="count.posts" limit="all" as |topic|}}
                    <section class="gh-section">
                        <h3 class="gh-section-title">Topics</h3>

                        <div class="gh-topic">
                            {{#foreach topic}}
                                <a class="gh-topic-item" href="/{{slug}}">
                                    <h3 class="gh-topic-name">{{name}}</h3>
                                    <span class="gh-topic-count">
                                        {{count.posts}} issues
                                    </span>
                                </a>
                            {{/foreach}}
                        </div>
                    </section>
                {{/get}}

                {{#if @root.site.recommendations_enabled}}
                    <section class="gh-section">
                        <h3 class="gh-section-title">Recommendations</h3>

                        <div class="gh-recommendations">
                            {{recommendations}}
                            <button data-portal="recommendations">See all {{> partials/icons/arrow-right}}</button>
                        </div>
                    </section>
                {{/if}}
            </aside>
        </div>
    </div>
</main>
{{/inline}}
{{> default}}